@font-face {
  font-family: Bebas;
  src: url('bebas/BebasNeue-Regular.eot');
}
@font-face {
  font-family: Bebas;
  src: url('bebas/BebasNeue-Regular.otf');
}
@font-face {
  font-family: Bebas;
  src: url('bebas/BebasNeue-Regular.ttf');
}
@font-face {
  font-family: Bebas;
  src: url('bebas/BebasNeue-Regular.woff');
}
@font-face {
  font-family: Bebas;
  src: url('bebas/BebasNeue-Regular.woff2');
}
